# pandas dictionary

------------------

## Base

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'NanumGothic'

## csv import

In [ ]:
df=pd.read_csv("제주특별자치도_제주도장소(POI)데이터_20151231.csv",encoding='cp949',low_memory=False)

## data shape

In [ ]:
df.shape

## data sample

In [ ]:
df.sample()

## making dataframe by '장소명'

In [ ]:
df[df['장소명']=='5'].head()

## making dataframe   
## by '장소명' == 5 and  '구분'== '레져/스포츠'

In [ ]:
df[(df['장소명']=='5')&(df['구분']=='레져/스포츠')]

## '점포수' in '상권명'== '잠실 관광특구'

In [ ]:
df[df['상권명']=='잠실 관광특구']['점포수']

## Remove duplicate values ​​and create a list

In [ ]:
df[df['구분']=='레져/스포츠']['장소명'].unique().tolist()

## Sum Missing Values

In [ ]:
df.isnull().sum()

## Sort numerical values ​​in order

In [ ]:
df['구분'].sort_values().value_counts()

## Resizing the graph

In [ ]:
plt.figure(figsize=(10,10))

## Grouping and Summing

In [ ]:
df.groupby('상권명').sum()

## sort_values and heading

In [ ]:
df_sang['분기당_매출_금액'].sort_values(ascending=False).head(15)

## Get multiple values at the same time by dataframe

In [ ]:
df_sang[['연령대_10_매출_건수','연령대_20_매출_건수','연령대_30_매출_건수','연령대_40_매출_건수','연령대_50_매출_건수']]

## how to making dataframe by data

In [ ]:
age_sales=pd.Series({'10대':te_sale,'20대':tw_sale,'30대':th_sale,'40대':fo_sale,'50대':fi_sale})
age_sales

In [ ]:
age_sales2 = { 'Age' : ['10대', '20대', '30대', '40대','50대'], 'Sale':[te_sale,tw_sale,th_sale,fo_sale,fi_sale]}
age_sale_df = pd.DataFrame(age_sales2)
age_sale_df

## SNS barplot

In [ ]:
# way 1

plt.figure(figsize=(9,6))
sns.barplot(x='Age',y='Sale',data=age_nor)

In [ ]:
plt.figure(figsize=(15,8))
sns.barplot(x='서비스업종',y='점포수',data=service_jumpo_head.reset_index())

In [ ]:
sns.barplot(x='점포수',y='서비스업종',data=service_jumpo_head.reset_index())

# sns.countplot(data=df_seoul, x='시군구명')

In [ ]:
# density graph
df_gu_jum.plot.density(rot=30)

# map visualization

In [ ]:
# way 1

df[['경도','위도','구']].plot.scatter(x='경도',y='위도',figsize=(12,7),grid=True)

-------------

In [ ]:
# way 2 

plt.figure(figsize=(12,9))
sns.scatterplot(data=df, x="경도",y='위도',hue='구')

---------------

In [ ]:
# way 3 

plt.figure(figsize=(23,18))
sns.scatterplot(data=df, x="경도",y='위도',hue='서비스업종')

-------------------

## how to use folium

In [ ]:
import folium
df['위도'].mean() #위도의 평균값
df['경도'].mean() #경도

In [ ]:
map=folium.Map(location=[df_sample['위도'].mean(),df_sample['경도'].mean()],zoom_start=12)


for n in df_sample.index:
    name=df_sample.loc[n,'서비스업종']
    
    location=[df_sample.loc[n,'위도'], df_sample.loc[n,'경도']]
    adress=df_sample.loc[n,'구']
    popup=f'{name}-{adress}'

    folium.Marker(
        location = location,
        popup = popup,
    ).add_to(map)
map

## how to use heatmap

In [ ]:
from glob import glob
import numpy as np
import folium
from folium import plugins
from folium.plugins import HeatMap

In [ ]:
import folium
from folium.plugins import HeatMap


m = folium.Map([35.9078, 127.7669], tiles="stamentoner", zoom_start=6)

HeatMap(sample_w).add_to(m)

m