In [8]:
# 홍길동 씨의 평균 점수를 구해보자.

(80+75+55)/3

# 70점

70.0

In [9]:
if 13%2 == 0:
    print('짝수')
    
else:
    print('홀수')

홀수

In [13]:
# 홍길동 씨의 주민등록번호는 881120-1068234이다. 


# 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.


a='881120-1068234'
a.split('-')

['881120', '1068234']

In [15]:
pin = "881120-1068234"

pin[7]

'1'

In [16]:
# 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.


a = "a:b:c:d"

a.replace(':','#')

'a#b#c#d'

In [19]:
# [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.


b=[1,3,5,4,2]
b.sort()
b

[1, 2, 3, 4, 5]

In [23]:
# ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.



c=['Life', 'is', 'too', 'short']
" ".join(c)



# a 리스트의 각 단어들을 한 문장으로 조립할 때 단어들 사이마다 공백을 넣어 주어야 한다.

# 1개의 공백문자(" ")를 사용하여 join한다.

'Life is too short'

In [35]:
a=(1,2,3)
b=(4,)
a+b



# a 튜플에 (4, )라는 튜플을 더하면 된다.


# 단, 이때 만들어지는 a + (4, )의 결과는 a 값이 변경되는 것이 아니라(튜플은 그 값을 변경할 수 없다) 새로운 튜플이 생성되고 그 값이 a 변수에 대입되는 것임에 유념하자.

(1, 2, 3, 4)

In [36]:
a = dict()
a


# a['name'] = 'python'
# a[('a',)] = 'python'
# a[[1]] = 'python'
# a[250] = 'python'

오류가 발생하는 이유는 딕셔너리의 키로는 변하는(mutable) 값을 사용할 수 없기 때문이다.  

위 예에서 키로 사용된 [1]은 리스트이므로 변하는 값이다. 다른 예에서 키로 사용된 문자열, 튜플, 숫자는 변하지 않는(immutable) 값이므로 딕셔너리의 키로 사용이 가능하다.

{}

In [39]:
a = {'A':90, 'B':80, 'C':70}

a.pop('B')

80

In [40]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

set(a)

{1, 2, 3, 4, 5}

In [41]:
a=b=[1,2,3]
a[1]=4
print(b)


# [1, 4, 3]이 출력된다. a와 b 변수는 모두 동일한 [1, 2, 3]이라는 리스트 객체를 가리키고 있기 때문이다.

[1, 4, 3]