### 2장 복습부터

In [1]:
# Q7

a = ['Life', 'is', 'too', 'short']

' '.join(a)

'Life is too short'

In [2]:
# Q8

(1,2,3)+(4,)

(1, 2, 3, 4)

In [ ]:
# Q9

#3번. list는 고정값이 아니라서 안된다.
# 딕셔너리의 키로는 변하는 값을 사용할 수 없다.

In [4]:
# Q10

a = {'A':90, 'B':80, 'C':70}

a.pop('A')
a.pop('B')

80

In [5]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
set(a)

{1, 2, 3, 4, 5}

### 3장

In [ ]:
# Q1 

shirt

In [13]:
# Q3 

# 좀 해멨다.

result=0
i=1

while i<=1000:

  if i%3==0:
    result+=i

  i+=1

print(result)

166833

In [12]:
for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [15]:
#Q3

i=1
while i<6:

  print('*'*i)

  i+=1 # while 안에 맞춰야한다.

*
**
***
****
*****

In [16]:
# Q5

jumsu =[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum_=0
su_=0
for i in jumsu:
  
  sum_+=i
  su_+=1

print(sum_/su_)

79.0

In [19]:
# Q6
# 리스트내포?

numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n%2==1]

print(result)


# for n in numbers:
#     if n % 2 == 1:
#         result.append(n*2)

[2, 6, 10]