# HowtousePython

## 211024~

## 사칙연산

In [6]:
a = 3 
b = 4
print(a+b) # 더하기
print(a*b) # 곱하기
print(a/b) # 나누기
print(a**b) # 제곱

7
12
0.75
81

In [7]:
print(3%7) # 나눗셈 후 나머지를 반환하는 연산자
print(7%3)

3
1

In [8]:
7/4 # 나눗셈 후 몫을 반환하는 연산자

1.75

## 문자열에 작은 따옴표 (') 포함시키기

In [11]:
print("Python's favorite food is perl")
# 큰 따옴표로 감싸면 된다.

Python's favorite food is perl

## 백슬래시를 사용해서 작은따옴표와 큰따옴표를 문자열에 포함시키기

In [14]:
print('python \'s favorite food is perl')

python 's favorite food is perl

## 여러 줄인 문자열을 변수에 대입하고 싶을 때

In [19]:
# 방법 1
print('Life is too short \nYou need Python')
# \n을 대입하면 된다.

Life is too short
You need Python

In [22]:
# 방법 2 

multiline = '''

Life is too short 
You need Python

'''


print(multiline)

Life is too short
You need Python

## 문자열 연산하기

In [24]:
# 문자열 더해서 연결하기

head = 'Python'
tail = ' is fun!'

head + tail

'Python is fun!'

In [26]:
# 문자열 곱하기
a = 'python '
a*2

'python python '

In [27]:
# 문자열 길이 구하기

a = 'Life is too short You need Python'

len(a)

33

##  문자열 인덱싱과 슬라이싱

In [29]:
a = "Life is too short You need Python"

a=a.split(' ')
print(a)

['Life', 'is', 'too', 'short', 'You', 'need', 'Python']

In [31]:
# 파이썬은 0부터 센다.
a = "Life is too short You need Python"
a[3] # L부터 0이다. 고로 e는 3

'e'

In [34]:
# 응용

a[0:4] + a[4:8] + a[8:]

'Life is too short You need Python'

## 데이터프레임 만들기

In [2]:
import pandas as pd
df = pd.DataFrame({'size':[100055,21512,25252] ,'bottom':[8882828,12525,12322]},index=['a','b','c'])

In [18]:
df

     size   bottom
a  100055  8882828
b   21512    12525
c   25252    12322