# Q1

다음은 Calculator 클래스이다.

In [1]:
# Q1
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자. 즉 다음과 같이 동작하는 클래스를 만들어야 한다.

In [6]:
class UpgradeCalculator(Calculator):

  def minus(self,val):
    self.value-=val

In [7]:
cal=UpgradeCalculator()
cal.add(10)

In [9]:
cal.minus(7)
print(cal.value,'성공')

-4 성공

# Q2
객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자. 즉 다음과 같이 동작해야 한다.

In [ ]:
#참고용

cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기

print(cal.value) # 100 출력

In [10]:
class MaxLimitCalculator():


  def __init__(self):
    self.value=0

  def add(self,val):
    self.value+=val

# Q3

--생략--

# Q4

filter와 lambda를 사용하여 리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.

In [32]:
list(filter(lambda x : x>0, [1,-2,3,-5,8,-3]))

[1, 3, 8]

# Q6


map과 lambda를 사용하여 [1, 2, 3, 4] 라는 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.

In [29]:
list(map(lambda x:x*3, [1,2,3,4]))

[3, 6, 9, 12]

# Q7

In [30]:
list_2=[-8, 2, 7, 5, -3, 5, 0, 1]

max(list_2)+min(list_2)

-1

# Q8

In [31]:
# way1

num=17/3

'{0:0.4f}'.format(num)

# way2

round(17/3,4)

5.6667

# Q13

random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자(단 중복된 숫자가 있으면 안 됨).

In [26]:
import random

for i in range(6):
  a=random.randint(1,46)
  print(a)

28
23
37
36
41
16